<html>
  <body>
    <form action="/post" method="POST">
      <p>ID : <input type="text" name="id" /></p>
      <p>password : <input type="password" name="password" /></p>
      <p>
        <button>submit</button>
      </p>
    </form>
  </body>
</html>
